
{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="layui-fluid layadmin-maillist-fluid">
  <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
            <blockquote class="layui-elem-quote" style="background-color: white">用户收藏的图书越多，推荐的越准确</blockquote>
      </div>
      {% for book in recommend_list %}
        <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" >
          <div class="layui-col-md9 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text">
                <h3 class="layadmin-title"><strong>书名：{{ book.book_name | truncatechars:16 }}</strong></h3>
                <h3 class="layadmin-title">价格：{{ book.price }}元</h3>
                <h3 class="layadmin-title">评分：{{ book.rating }}</h3>
                <h3 class="layadmin-title">作者：{{ book.author }}</h3>
                <h3 class="layadmin-title">出版社：{{ book.publisher | truncatechars:16 }}</h3>
              </div>
            </a>
          </div>
          <div class="layui-col-md2 layui-col-sm6">
             <button class="layui-btn" onclick="send({{ book.id }},'{{ book.book_name }}')">收藏图书</button>
          </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>


</body>
{% endblock %}
{% block js %}
  <script>
  layui.config({
    base: '{% static "layuiadmin/" %}' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'jquery','layer','element']);

  function send(book_id, book_name) {
      var $ = layui.$,
	    layer = layui.layer,
	    element = layui.element;

          console.log(book_id)
        layer.confirm("确定收藏图书"+book_name +"吗？", function(t) {
			$.ajax({
				   type: 'POST',
				   data:{"book_id":book_id, "send_key":0},
				   url: '/send_job/',
				   success: function (res) {
					   layer.msg(res.msg);location.reload()
				   },
				   error:function(response){
					   layer.msg(response.msg);
				   }
			   }),
				layer.close(t)
		})
      }

  </script>
{% endblock js %}